* {
    box-sizing: border-box;
}
/*
selector{
    property: value;
}

selectors:
Tags: p, div, h1, main, a, span
Class: .demo, .header, .body
ID: #container, #rooter

Property: color, backgroud-color
Value: red, orange, yellow
*/

p{
    /*color: value*/
    /*
    named: ref, orange, blue, green
    hexa: #ffa400, #ff7870, #00aefd, #666666 -> #666 #7cd7cd -> #7cd
    rgb: rgb(0,0,0), rgb(255,255,255)
    rgba: rgba(0,0,0,0.5)
    alpha: opacity 0->1*/
    color: black;
}
.background{
    background-color: #12c3b1;
    min-width: 100px;
    max-width: 50%;
    min-height: 100px;
    max-height: 200px;
    overflow-y: auto;   
}

/* .background2{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg");
    background-position: center center ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: red 
        url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg") no-repeat center center / cover;
} */

html{
    font-size: 62.5%;
}

.em{
    font-size: 32px;
    width: 10em;
    height: 10em;
    background-color: aqua;
}

.rem{
    font-size: 32px;
    width: 10rem;
    height: 10rem;
    background-color: bisque;
    border-top: 10px solid green;
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
}

.margin{
    width: 10rem;
    height: 10rem;
    background-color: aqua;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.padding{
    width: 100px;
    height: 100px;
    background-color: bisque;
    margin: 0 auto;
    overflow: auto;
    padding: 10px;
    margin-top: -20px;
}

.boxed{
    width: 10rem;
    height: 10rem;
    border: 5px solid black;
    padding: 1rem;
    background-color: pink;
    /* 
        width = width + padding-left + padding-right + border-left + border-right
        height = height + padding-top +padding-bottom + border-top + border-bottom
    */

    /* 
        width= width - padding-left - padding-right - border-left - border-right
    */
}