/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background full màn hình */
.register-page {
  min-height: 100vh;
  background: url("https://images.pexels.com/photos/31216391/pexels-photo-31216391.jpeg?cs=srgb&dl=pexels-mahmoudramadan-31216391.jpg&fm=jpg") center / cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Box đăng ký */
.register-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  width: 460px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

/* Input */
.register-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

/* Button */
.register-box button {
  width: 100%;
  padding: 10px;
  background: #ff6b35;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
